
.keltainen, .vihrea, .punainen {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

/*.keltainen {
    animation: valot-kiinni-keltainen 1s infinite;
}*/

@keyframes valot-kiinni-keltainen {
    from {background-color: yellow;}
    to {background-color: white;}
}


.liikennevalot { /*uloin div*/
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.nuoli {
  background-image: url("nuoli.svg");
  background-repeat: no-repeat;
  background-size: 30px 40px;
}

.vasemmat-valot .nuoli{
  transform: rotate(90deg);
}
.oikeat-valot .nuoli{
  transform: rotate(-90deg);
}
.alavalot .nuoli{
  transform: rotate(180deg);
}

.ylavalo, .vasen-ja-oikea, .alavalo {
  width: 50%;
  margin: auto;
}	

.ylavalot {
	padding-left: 550px;
	padding-bottom: 100px;
  flex-direction: row;
  display: flex;
}

.ylavalo-kaanto{
  flex-direction: column-reverse;
  display: flex;
}

.vasen-ja-oikea {
	flex-direction: row;
	display:flex;
}

.vasemmat-valot {
	padding-right: 200px;
  flex-direction: column;
}
.vasenvalo-kaanto{
  flex-direction:row-reverse;
  display: flex;
}
.oikeavalo-kaanto{
  flex-direction: row;
  display: flex;
}
.oikeat-valot {
	padding-left: 200px;
}
.alavalot {
	padding-top: 100px;
	padding-left: 550px;
  flex-direction: row;
  display: flex;
}

.reunat-pois {
  border: none;
}

.nappi {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    width: 350px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 7px;
}
.nappi-kiinni{
	float: right;	
	display: absolute;
	background-color: red;
}
.nappi-auki:hover {background-color: #3e8e41}
.nappi-kiinni:hover {background-color: brown}

.nappi:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.nappi-kiinni:active {background-color: brown}


@media only screen and (max-width: 760px) {
	
	.paallePois {
		display: flex;
		flex-direction: column;
	}
	.ylavalo {
		padding-left: 150px;
		padding-bottom: 60px;
	}
	.vasenvalo {
		padding-right: 100px;
	}
	.oikeavalo {
		padding-left: 100px;
	}
	.alavalo {
		padding-top: 40px;
		padding-left: 160px;
	}
	.ylavalo, .alavalo {
	    width: 50%;
	    margin: auto;
	}	
	.vasen-ja-oikea {
		width: 68%;
	}
}
